<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title or "Figure None" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>{{ title or "Figure None" }}</h1>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>© 2025 Figure None</p>
    </footer>
  </body>
</html>