<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "Figure None" }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <header>
    <h1><a href="/">{{ site.title }}</a></h1>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    © {{ site.date | date("YYYY") }} Figure None
  </footer>
</body>
</html>